# Core LangChain libraries
langchain
langchain-community
langchain-core
langchain-text-splitters

# Integration with Qdrant
qdrant-client
langchain-qdrant

# Hugging Face ecosystem for embeddings
langchain-huggingface
sentence-transformers
transformers
torch
accelerate

# Utilities
python-dotenv
tqdm

# Development tools
pip-tools
kfp==2.1.1
kfp-kubernetes==1.0.0
