apiVersion: apps/v1
kind: Deployment
metadata:
  name: metadata-grpc-deployment
spec:
  template:
    spec:
      containers:
        - name: container
          env:
            ## ================================
            ## MySQL Secrets
            ## ================================
            - name: DBCONFIG_USER
              valueFrom:
                secretKeyRef:
                  name: "cloned--pipelines-mysql-secret"
                  key: "username"
            - name: DBCONFIG_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "cloned--pipelines-mysql-secret"
                  key: "password"

            ## ================================
            ## MANUAL PATCH: Increase GRPC message lengths to 100MB
            ## ================================
            - name: GRPC_MAX_RECEIVE_MESSAGE_LENGTH
              value: "104857600"  # 100MB
            - name: GRPC_MAX_SEND_MESSAGE_LENGTH  
              value: "104857600"   # 100MB
